@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ==== Reset start ===== */
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    outline: none;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	color: #777;
	font-family: 'open_sanslight', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* ==== Reset end ===== */
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1{
	width: 8.333333333%
}

.col-2{
	width: 16.666666667%
}

.col-3{
	width: 25%
}

.col-4{
	width: 33.333333333%
}

.col-5{
	width: 41.666666667%
}

.col-6{
	width: 50%
}

.col-7{
	width: 58.333333333%
}

.col-8{
	width: 66.666666667%
}

.col-9{
	width: 75%
}

.col-10{
	width: 83.333333333%
}

.col-11{
	width: 91.666666667%
}

.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-black {
    background-color: #111;
}
/* Default classes end */
/* Default component start */
.default-section {
    padding: 135px 0;
}

.btn {
    font-family: 'open_sansregular', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;       
}

.btn-default {
    padding: 14px 20px 13px;
    font-size: 0.87rem;
    line-height: 1.73rem;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #323232;
}

.btn-large {
    padding: 7.25px 40px;
    font-size: 0.93rem;
    line-height: 1.73rem;
    letter-spacing: 0.2em;
    color: #111;
    background-color: #cfcfcf;
}

.btn-small {
    padding: 9px 15px;
    font-size: 0.73rem;
    line-height: 1.73rem;
    letter-spacing: 0.2em;
    color: #777;
    background-color: #e5e5e5;
}

.title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #111;
    letter-spacing: .5em;
    font-weight: normal;    
}

.title.title-light {
    letter-spacing: .3em;
}

.title.title-white {
    color: #fff;
}
/* Default component end */
/* Custom style start */
/* Header start */
#header {
    position: fixed;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
}

#header .logo {
    float: left;
    line-height: 0;
}

#header .header-nav {
    float: right;
}

#header .header-nav a {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    color: #fff;
    letter-spacing: 0.3em;
}

#header .header-nav li {
    float: left;
    line-height: 21px;
}

#header .header-nav li + li {
    margin-left: 30px;
}
/* Header end */
/* Main start */
/* ===== Inner start ===== */
.inner {
    padding-top: 81px;
    background: url(../img/inner-img.jpg)center / cover;
    height: 100vh;
    padding: 0 15px;
    position: relative;
    text-align: center;
}

.inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-title h1 {
    font-family: 'dosisregular', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.7em;
    color: rgba(254, 254, 254, .9);
    text-transform: uppercase;
    margin-bottom: 100px;
    text-indent: 1.7em;
}

.inner-title p {
    font-size: 1.27rem;
    color: rgba(254, 254, 254, .68);
}
/* Inner end */
/* ===== About studio start ===== */
.about-studio .title {
    font-family: 'dosisregular', sans-serif;
    font-size: 1.2rem;
    color: #111;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.about-studio blockquote p {
    font-size: 1.6rem;
    line-height: 2.53rem;
}

.about-studio blockquote span {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    line-height: 2.53rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.about-studio .default-text {
    line-height: 1.73rem;
}

.about-studio .row + .row {
    margin-top: 100px;
}

.team-item-photo {
    margin-bottom: 30px;
}

.team-item-info span {
    display: block;
    font-family: 'dosisregular', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.team-item .team-item-role {
    font-size: 0.8rem;
    margin-top: 15px;
}
/* ===== About studio end ===== */
/* ===== Services start ===== */
.services .title{
    font-family: 'dosisregular', sans-serif;
    margin-bottom: 120px;
} 

.services-tab ul {
    overflow: hidden;
    margin-bottom: 80px;
}

.services-tab ul li {
    float: left;
    width: 20%;
    text-align: center;
    opacity: .5;
}

.services-tab ul li.ui-state-active {
    opacity: 1;
}

.services-tab ul li span {
    display: block;
}

.services-tab ul li a span:first-child {
    font-size: 3.2rem;
}

.services-tab ul li a span:last-child {
    margin-top: 35px;
    font-family: 'dosisregular', sans-serif;
    font-size: 0.93rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
    padding-top: 140px;
    padding-bottom: 140px;
}

.lets-talk-img {
    margin-top: -32px;
}

.lets-talk .title {
    font-family: 'dosislight', sans-serif;
    line-height: 1.73rem;
    margin-bottom: 28px;
}

.lets-talk .default-text {
    color: rgba(255, 255, 255, .7);
    line-height: 1.73rem;
    margin-bottom: 40px;    
}
/* ===== Lets talk end ===== */
/* ===== Why-choose-us start ===== */
.why-choose-us .title {
    font-family: 'dosisregular', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5em;
    color: fff;
    margin-bottom: 90px;
}

.why-choose-us .row + .row {
    margin-top: 85px;
}

.advantage-icon {
    font-size: 3.2rem;
    color: #111;
}

.why-choose-us .advantage-title {
    font-family: 'dosisregular', sans-serif;
    font-size: 0.93rem;
    letter-spacing: .4em;
    color: #111;
    text-transform: uppercase;
    margin: 35px 0;
}

.why-choose-us .default-text {
    font-size: 0.93rem;
    line-height: 1.73rem;
}
/* ===== Why-choose-us end ===== */

/* Main end */
/* Custom style end */