@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ==== Reset start ===== */
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    outline: none;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	color: #777;
	font-family: 'open_sanslight', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

textarea {
    resize: vertical;
}
/* ==== Reset end ===== */
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1{
	width: 8.333333333%
}

.col-2{
	width: 16.666666667%
}

.col-3{
	width: 25%
}

.col-4{
	width: 33.333333333%
}

.col-5{
	width: 41.666666667%
}

.col-6{
	width: 50%
}

.col-7{
	width: 58.333333333%
}

.col-8{
	width: 66.666666667%
}

.col-9{
	width: 75%
}

.col-10{
	width: 83.333333333%
}

.col-11{
	width: 91.666666667%
}

.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-black {
    background-color: #111;
}

.mx-auto {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.rhomb-icon {
    display: inline-block;
    width: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 2px;
    font-size: 0.8rem;
    transform: rotate(45deg);
}

.rhomb-icon > * {
    transform: rotate(-45deg);
}

.rhomb-icon > .fa-phone {
    transform: rotate(45deg);
}

.rhomb-icon.black-icon {
    color: #fff;
    background-color: #111;
}

.rhomb-icon.white-icon {
    color: #111;
    background-color: #fff;
}

.form-control {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    height: 40px;
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #777;
    padding: 0 13px;
    background-color: #fff;
}

textarea.form-control {
    min-height: 90px;
    padding-top: 10px;
}
/* Default classes end */
/* Default component start */
.default-section {
    padding: 135px 0;
}

.btn {
    font-family: 'open_sansregular', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;       
}

.btn-default {
    padding: 14px 20px 13px;
    font-size: 0.87rem;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #323232;
}

.btn-large {
    padding: 10.5px 40px;
    font-size: 0.93rem;
    letter-spacing: 0.2em;
    color: #111;
    background-color: #cfcfcf;
}

.btn-small {
    padding: 9px 15px;
    font-size: 0.73rem;
    letter-spacing: 0.2em;
    color: #777;
    background-color: #e5e5e5;
}

.title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #111;
    letter-spacing: .5em;
    font-weight: normal;    
}

.title.title-light {
    letter-spacing: .3em;
}

.title.title-white {
    color: #fff;
}

blockquote p {
    font-size: 1.6rem;
    line-height: 2.53rem;
}
/* Default component end */
/* Custom style start */
/* Header start */
#header {
    position: fixed;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    padding: 30px 0;
}

#header .logo {
    float: left;
    line-height: 0;
}

#header .header-nav {
    float: right;
}

#header .header-nav a {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    color: rgba(255, 255, 255, .75);
    letter-spacing: 0.3em;
}

#header .header-nav li {
    float: left;
    line-height: 21px;
}

#header .header-nav li + li {
    margin-left: 30px;
}
/* Header end */
/* Main start */
/* ===== Inner start ===== */
.inner {
    padding-top: 81px;
    background: url(../img/inner-img.jpg)center / cover;
    height: 100vh;
    padding: 0 15px;
    position: relative;
    text-align: center;
}

.inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.inner-title h1 {
    font-family: 'dosisregular', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.7em;
    color: rgba(254, 254, 254, .9);
    text-transform: uppercase;
    margin-bottom: 100px;
    text-indent: 1.7em;
}

.inner p {
    font-size: 1.27rem;
    color: rgba(254, 254, 254, .68);
}
/* Inner end */
/* ===== About studio start ===== */
.about-studio {
    border-bottom: 1px solid #ececec;
}

.about-studio .title {
    font-family: 'dosisregular', sans-serif;
    font-size: 1.2rem;
    color: #111;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.about-studio blockquote span {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    line-height: 2.53rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.about-studio .default-text {
    line-height: 1.73rem;
}

.about-studio .row + .row {
    margin-top: 100px;
}

.team-item-photo {
    margin-bottom: 30px;
}

.team-item-info span {
    display: block;
    font-family: 'dosisregular', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.team-item .team-item-role {
    font-size: 0.8rem;
    margin-top: 15px;
}
/* ===== About studio end ===== */
/* ===== Services start ===== */
.services .title{
    font-family: 'dosisregular', sans-serif;
    margin-bottom: 120px;
} 

.services-tab ul {
    overflow: hidden;
    margin-bottom: 80px;
}

.services-tab ul li {
    float: left;
    width: 20%;
    text-align: center;
    opacity: .5;
}

.services-tab ul li.ui-state-active {
    opacity: 1;
}

.services-tab ul li span {
    display: block;
}

.services-tab ul li a span:first-child {
    font-size: 3.2rem;
}

.services-tab ul li a span:last-child {
    margin-top: 35px;
    font-family: 'dosisregular', sans-serif;
    font-size: 0.93rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
    padding-top: 140px;
    padding-bottom: 140px;
}

.lets-talk-img {
    margin-top: -32px;
}

.lets-talk .title {
    font-family: 'dosislight', sans-serif;
    line-height: 1.73rem;
    margin-bottom: 28px;
}

.lets-talk .default-text {
    color: rgba(255, 255, 255, .7);
    line-height: 1.73rem;
    margin-bottom: 40px;    
}
/* ===== Lets talk end ===== */
/* ===== Portfolio start ===== */
.portfolio {
    padding-bottom: 5px;
    overflow: hidden;
}

.portfolio .title {
    font-family: 'dosisregular', sans-serif;
    margin-bottom: 80px;
}

.portfolio p {
    max-width: 810px;
    margin: auto;
    line-height: 1.73rem;
    margin-bottom: 85px;
}

.portfolio .ui-tabs-tab {
    text-align: center;
    display: inline-block;
    font-family: 'dosisregular', sans-serif;
    text-transform: uppercase;
    font-size: 0.87rem;
    letter-spacing: 0.4em;
    color: #111;
    opacity: .5;   
}

.portfolio .ui-tabs-active {
    opacity: 1;
}

.portfolio .portfolio-tab li + li {
    margin-left: 70px;
    margin-bottom: 50px;
}

.portfolio .portfolio-item {
    float: left;
    width: 33.333%;
    padding: 4px;
}

.portfolio .portfolio-item img {
    width: 100%;
    filter: grayscale(100%);
}

.portfolio .portfolio-item img:hover {
    filter: none;
}
/* ===== Portfolio end ===== */
/* ===== Start project start ===== */
.small-section {
    padding: 70px 0;
}

.small-section .title {
    font-family: 'dosislight', sans-serif;
    margin-bottom: 25px;
}
/* ===== Start project end ===== */
/* ===== Why-choose-us start ===== */
.why-choose-us .title {
    font-family: 'dosisregular', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.5em;
    color: fff;
    margin-bottom: 90px;
}

.why-choose-us .row + .row {
    margin-top: 85px;
}

.advantage-icon {
    font-size: 3.2rem;
    color: #111;
}

.why-choose-us .advantage-title {
    font-family: 'dosisregular', sans-serif;
    font-size: 0.93rem;
    letter-spacing: .4em;
    color: #111;
    text-transform: uppercase;
    margin: 35px 0;
}

.why-choose-us .default-text {
    font-size: 0.93rem;
    line-height: 1.73rem;
}
/* ===== Why-choose-us end ===== */
/* ===== Reviews start ===== */
.reviews .icon-quote {
    padding-top: 1px;
    font-size: 2.13rem;
    margin-bottom: 23px;
}

.reviews .title {
    font-family: 'dosislight', sans-serif;
    margin-bottom: 45px;
}

.reviews p {
    margin: auto;
    max-width: 731px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .75);
    margin-bottom: 25px;
}

.reviews .review-author {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
}

.reviews-carousel {
    padding: 140px 0;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-arrow.slick-prev {
    left: 0;
}

.slick-arrow.slick-next {
    right: 0;
}

.slick-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
}

.slick-dots li {
    display: inline-block;
    vertical-align: bottom;
}

.slick-dots li + li {
    margin-left: 5px;
}

.slick-dots li button {
    color: transparent;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #ccc;
}

.slick-dots li.slick-active button {
    background-color: transparent;
    width: 9px;
    height: 9px;
}
/* ===== Reviews end ===== */
/* ===== Contacts start ===== */
.contacts .title {
    font-family: 'dosisregular', sans-serif;
    margin-bottom: 100px;
}

.contact-item .rhomb-icon {
    vertical-align: middle;
}

.contact-item-content {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.contact-item-content span {
    display: block;
}

.form-row {
    overflow: hidden;
    margin: 0 -5px;
}

.form-col {
    width: 50%;
    float: left;
    padding: 0 5px;
}

.contacts .contact-title {
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.contacts .contact-data {
    font-family: 'dosisregular', sans-serif;
    line-height: 1.6rem;
    color: #444;
}

.contact-form {
    margin-top: 80px;
}

.contact-form .form-control + .form-control {
    margin-top: 10px;
}

.form-submit {
    margin-top: 20px;
    overflow: hidden;
}

.form-submit .form-info {
    float: left;
    line-height: 45px;
}

.form-submit .btn-default {
    float: right;
}
/* ===== Contacts end ===== */
/* ===== Map start ===== */
#map {
    width: 100%;
    height: 410px;
}

.map-container {
    position: relative;
}

.map-container span {
    margin-top: 28px;
    display: block;
    font-family: 'dosisregular', sans-serif;
    font-size: 1.07rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .75)
}

.on-map-block {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
}

.map-container:hover .on-map-block {
    opacity: 0;
}

.open-maps {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ===== Map start ===== */
/* Main end */
/* Custom style end */