@font-face {
    font-family: 'dosislight';
    src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ==== Reset start ===== */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	color: #a0a0a0;
	font-family: 'open_sanslight', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* ==== Reset end ===== */
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1{
	width: 8.333333333%
}

.col-2{
	width: 16.666666667%
}

.col-3{
	width: 25%
}

.col-4{
	width: 33.333333333%
}

.col-5{
	width: 41.666666667%
}

.col-6{
	width: 50%
}

.col-7{
	width: 58.333333333%
}

.col-8{
	width: 66.666666667%
}

.col-9{
	width: 75%
}

.col-10{
	width: 83.333333333%
}

.col-11{
	width: 91.666666667%
}

.col-12{
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
    text-align: center;
}

/* Default classes end */
/* Default component start */
.default-section {
    padding: 135px 0;
}

.title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #111;
    letter-spacing: .5em;
    font-weight: normal;
    margin-bottom: 75px;
}

.title.title-light {
    letter-spacing: .3em;
}

.title.title-white {
    color: #fff;
}
/* Default component end */
/* Custom style start */
/* Header start */
#header {
    position: fixed;
    overflow: hidden;
    /* background-color: #9f9f9f; */
    z-index: 999;
    width: 100%;
    padding: 30px 0;
}

#header .logo {
    float: left;
    line-height: 0;
}

#header .header-nav {
    float: right;
}

#header .header-nav a {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    color: #fff;
    letter-spacing: 0.3em;
}

#header .header-nav li {
    float: left;
    line-height: 21px;
}

#header .header-nav li + li {
    margin-left: 30px;
}
/* Header end */
/* Main start */
#main {
    padding-top: 81px;
}

/* Inner start */
.inner {
    background: url(../img/inner-img.jpg)center / cover;
    height: 100vh;
    padding: 0 15px;
    position: relative;
    text-align: center;
}

.inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-title h1 {
    font-family: 'dosisregular', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.7em;
    color: #fefefe;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.inner-title p {
    font-size: 1.27rem;
    color: #fefefe;
}
/* Inner end */
/* About studio start */
.about-studio .title {
    font-family: 'dosisregular', sans-serif;
    font-size: 1.2rem;
    color: #111;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.about-studio blockquote p {
    font-size: 1.6rem;
    line-height: 2.53rem;
}

.about-studio blockquote span {
    font-family: 'open_sansregular', sans-serif;
    font-size: 0.73rem;
    line-height: 2.53rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.about-studio .default-text {
    line-height: 1.73rem;
}

.about-studio .row + .row {
    margin-top: 100px;
}

.team-item-photo {
    margin-bottom: 30px;
}

.team-item-info span {
    display: block;
    font-family: 'dosisregular', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.team-item .team-item-role {
    font-size: 0.8rem;
    margin-top: 15px;
}
/* About studio end */
/* Main end */
/* Custom style end */